
#game-container{
  position: relative;
  display: block;
  width: 1600px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}
#dealer-container{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 5%;
  width: 80%;
  height: 20%;
  background-color: red;
}
#text-container{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  width: 45%;
  height: 30%;
  background-color: blue;
}
#button-container{
  position: absolute;
  display: block;
  top: 75%;
  width: 125px;
  height: 20%;
  left: 15px;
  background-color: yellow;
}
#player-container{
  position: relative;
  display: block;
  top: 25%;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  height: 20%;
  background-color: red;
}
