<html>
    <head>
        <link href="/assets/css/blackjack.css" rel="stylesheet">
        <script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
    </head>
    <body>
      <div id="game-container">
        <div id="cover">
          <button id="play-game-button" onclick="fixPastInitial()">Play<br>Game</button>
        </div>
        <div id="dealer-container">
          <div id="colOne" class="dropArea" style="float:left;"></div>
        </div>
        <div id="text-container">
          <span id="text-center"><h2>Bet: $<span id="current-pot">2</span></h2><br><h2>Balance: $<span id="current-balance">100</span></h2></span>
        </div>
        <div id="button-container">
          <button>Hit</button><br>
          <button>Stay</button><br>
          <button>Split</button><br>
          <button>Double Down</button>
        </div>
        <div id="player-container">
          <div id="colTwo" class="dropArea" style="float:left;">
        </div>
      </div>
    </body>

    <script>
    function fixPastInitial(){
      $('#cover').addClass('hide');
    }

    function display(game) {
      console.log(game);
      $( '.dropArea' ).html("");

      $.each(game.cols[0], function( key, val ) {
          $( '#colOne' ).append("<img src='assets/images/English/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
      });
      $.each(game.cols[1], function( key, val ) {
          $( '#colTwo' ).append("<img src='assets/images/English/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
      });
      }

      $.getJSON("http://localhost:8080/", function( data ) {
      display(data);
      game = data;
    });


    </script>

</html>
